<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="document-text-outline"></ion-icon>
        Daily Journal  .....</ion-title>
        <ion-button slot="end" (click)="backbtn()" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true">
      <div class="raitng">
      <ion-label>
        Sumarize you today  .....
      </ion-label>
    </div>
    <div>
      <ion-card-content class="input">
        <p>type your today's summary ....</p>
        <div>
          <ion-grid class="tags">
              <ion-label>Food</ion-label>
              <tag-input
                required="false"
                placeholder="food"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="food"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input><br>
              <ion-label>Exercise</ion-label>
              <tag-input
                required="false"
                placeholder="exercise"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="exercise"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input><br>
              <ion-label>Entertaintments</ion-label>
              <tag-input
                required="false"
                placeholder="entertaintments"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="entertaintments"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input><br>
              <ion-label>Visits</ion-label>
              <tag-input
                required="false"
                placeholder="visits"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="visits"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input><br>
              <ion-label>Events</ion-label>
              <tag-input
                required="false"
                placeholder="events"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="events"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input><br>
              <ion-label>Others</ion-label>
              <tag-input
                required="false"
                placeholder="others"
                once="true"
                spellcheck="true"
                separatorKeys=","
                [(ngModel)]="others"
                [onlyFromAutocomplete]="false">
                <tag-input-dropdown [showDropdownIfEmpty]="false"
                  [autocompleteItems]="completedTags">
                </tag-input-dropdown>
              </tag-input>
          </ion-grid>
        </div>
      </ion-card-content>
      <div class="submit">
        <ion-button (click)="submit()">Submit</ion-button>
      </div>
    </div>
  </ion-content>