.content {
    margin-top: 350px;
}
.fbbutton{
    background-color: #3b5998;
    border-radius: 5px;
    color:#ffffff;
    margin-bottom:12px;
    margin-left:15px;
    margin-right:13px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-transform: none;
    text-align: right;
}
.gbutton{
    background-color: #d34836;
    border-radius: 5px;
    color:#fdfdfd;
    margin-bottom:12px;
    margin-left:15px;
    margin-right:13px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-transform: none;
}