ion-content ion-toolbar {
    --background: translucent;
  }
  .raitng {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
  }
  .btn {
    display: grid;
    align-items: center;
    justify-content: center;
    size: x-large;
  }